site_name: Open Source Chemistry Notes

nav:
  - Home: index.md

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.superfences
  - pymdownx.extra

plugins:
  - search
  - mkdocs-jupyter

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - assets/js/kekule.min.js
